#body{
  font-size: large;
  font-family: "Montserrat";
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

#TinDog{
  font-size: 2rem;
}
.btn{
  padding-top:15%;
}
#title {
  background-color: #ff4c68;
}

#h11 { font-family: "Montserrat";
font-size: 3rem;
line-height: 1.5;
font-weight: 900;
color:white;
}

.row{
  padding: 3% 15%;
}
.nav-link
{
  font-size: 1rem;
}

.btn
 {
   margin-top: 3rem;
 }

.title-image{
  width: 60%;
  transform:rotate(25deg);
}

#emojis{
  text-align: center;
}

.fa-circle-check{
  color:#FF7171;
  font-size: 5.5rem;
  padding-bottom: 1rem;

}

.fa-bullseye{
    color:#FF7171;
    font-size: 5.5rem;
    padding-bottom: 1rem;
}

.fa-heart{
    color:#FF7171;
    font-size: 5.5rem;
    padding-bottom: 1rem;
}

.fa-circle-check:hover{
  color: #ff4c68;
}
.fa-bullseye:hover{
  color: #ff4c68;
}

.fa-heart:hover{
  color: #ff4c68;
}
